{% extends "cds/base/base.html" %}
{% load static %}


{% block content %}

<p class="mt-2">Расстановка подвижного состава по часам суток</p>

<table class="table table-striped table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Название депо</th>
      <th scope="col">Вид транспорта</th>
      <th scope="col">Директор</th>
      <th scope="col">Адрес</th>
    </tr>
  </thead>
  <tbody>
  {% if form1 %}
        {% for f in form1 %}
    <tr>
        <td>{{ f.depot }}</td>
        <td>{{ f.transport }}</td>
        <td>{{ f.director }}</td>
        <td>{{ f.address }}</td>
    </tr>
  {% endfor %}
      {% endif %}
  </tbody>
</table>

<a class="btn btn-primary float-right mb-4" href="#" role="button">Редактировать</a>

<table class="table table-striped table-bordered mt-4">
  <thead class="thead-dark">
    <tr>
      <th scope="col">№ маршрута</th>
      <th scope="col">Начальная точка</th>
      <th scope="col">Конечная точка</th>
      <th scope="col">Время оборотного рейса</th>
      <th scope="col">Протяжённость</th>
      <th scope="col">Выезд первого вагона</th>
      <th scope="col">Заезд последнего вагона</th>
    </tr>
  </thead>
  <tbody>
  {% if form2 %}
        {% for f2 in form2 %}
    <tr>
        <td>{{ f2.number_route }}</td>
        <td>{{ f2.start_point }}</td>
        <td>{{ f2.end_point }}</td>
        <td>{{ f2.time_route }}</td>
        <td>{{ f2.length_route }}</td>
        <td>{{ f2.dep_first_car }}</td>
        <td>{{ f2.arr_last_car }}</td>


    </tr>
  {% endfor %}
      {% endif %}
  </tbody>
</table>

<a class="btn btn-primary float-right mb-4" href="#" role="button">Редактировать</a>

<table class="table table-striped table-bordered mt-4">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Маршрут</th>
      <th scope="col">День графика</th>
      <th scope="col">Час суток</th>
      <th scope="col">Количество вагонов(машин)</th>
      <th scope="col">Начальная дата</th>
      <th scope="col">Конечная дата</th>
      <th scope="col">Час суток</th>
    </tr>
  </thead>
  <tbody>
  {% if form3 %}
        {% for f3 in form3 %}
    <tr>
        <td>{{ f3.route }}</td>
        <td>{{ f3.graphic }}</td>
        <td>{{ f3.start_hour_of_day }}</td>
        <td>{{ f3.num_car }}</td>
        <td>{{ f3.start_data }}</td>
        <td>{{ f3.end_data }}</td>
        <td>{{ f3.end_hour_of_day }}</td>
    </tr>



  {% endfor %}
      {% endif %}
  </tbody>
</table>

<a class="btn btn-primary float-right" href="#" role="button">Редактировать</a>

{% endblock %}
